*Makefile*
*.o
*.pro.user*
*.a
/test/args/args
/test/args/argsd
/test/majordomo/bin
/test/majordomo/build
*callgrind.out.*
/build
/third_party/nanomsg
/third_party/build
/third_party/czmq
/third_party/libsodium
/third_party/zeromq
